/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* App Container */
.app-container {
  min-height: 100vh;
  background-color: #f3f4f6;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.main-content{
  min-height: 60vh;
  display: flex;
  justify-content: center;
}







/* Responsive Adjustments */
